  
.ReposList {
  max-width: 1600px;
  display: grid;
  /* grid-column-gap: 16px;
  grid-row-gap: 16px; */
  min-height: 128px;
  margin: 16px auto;
}
.repoLink {
  background: #000000;
  display: inline-block;
  border-radius: 16px;
  padding: 24px 18px;
  user-select: none;
  cursor: pointer;
  font-family: 'TT Commons';
  font-size: large;
  border: 2px solid black;
  /* box-shadow: -8px 8px 16px rgba(0,0,0,0.15), 8px -8px 16px rgba(255,255,255,0.5); */
  transition: 0.1s;
}
.repoLink:hover {
  border-color: white!important;
}
.repoLink .repoLinkheadline {
  font-size: 24px;
  padding: 10px 12px 0 12px;
}
.repoLink .repoLinkP {
  padding: 0 12px 10px 12px;
  color: #888888;
}
.repoLink .repoLinkheadline span {
  background: #0d1117;
  box-decoration-break: clone;
}
@media screen and (max-width: 640px) {
  .ReposList {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 1280px) and (min-width: 640px) {
  .ReposList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1600px) and (min-width: 1280px) {
  .ReposList {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .ReposList {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (min-width: 720px) {
  .ReposList {
    width: 90%;
  }
}

/* .SearchBox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  border-radius: 48px;
  padding: 8px;
  text-align: center;
  background: #000000;
  border: 2px solid #888888;
  color: #888888!important;
  font-family: 'Roboto';
  font-size: 18px;
}
.SearchBox input:focus {
  outline: none;
  border-color: #efefef;
  color: #efefef!important;
}
@media screen and (max-width: 720px) {
  .SearchBox {
    position: relative;
    width: 90%;
    max-width: 640px;
    height: 64px;
  }
}
@media screen and (min-width: 720px) {
  .SearchBox {
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 640px;
    margin: auto;
    height: 64px;
  }
} */

.search-box {
  margin: auto;
  display: flex;
  width: 90%;
  justify-content: center;
}
.search-box .search-box-label {
  width: fit-content;
  height: 44px;
  line-height: 56px;
  box-sizing: border-box;
  outline: none!important;
  border: 2px solid #000;
  font-family: 'Roboto'; 
  text-transform: uppercase;
}
.search-box .search-box-input {
  width: fit-content;
  min-width: 144.16px;
  margin: 8px;
  height: 44px;
  line-height: 40px;
  padding: 0 8px;
  box-sizing: border-box;
  outline: none!important;
  border: 2px solid #888;
  font-family: 'Roboto'; 
  white-space: nowrap;
  overflow: hidden;
  transition: 0.1s;
}
.search-box-input:focus {
  transform: translateY(2px);
  border-color: #fff;
  
}
.search-box .search-box-input:before{
  content: "";
  width: 8px;
}
.search-box .search-box-input:after{
  content: "";
  width: 8px;
}
[contenteditable][placeholder]:empty:before {
  content: attr(placeholder);
  position: absolute;
  color: gray;
  background-color: transparent;
}

@media screen and (max-width: 512px) {
  .search-box {
    flex-direction: column;
  }
  .search-box .tumblet {
    margin: auto;
  }
  .search-box .search-box-label {
    display: none;
  }
  .search-box .search-box-input {
    width: 100%;
  }
  .search-box .RoundICO-tumble {
    width: 100%;
  }
}