@import "./notify.css";

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    color: white;
    z-index: 98;

}
.header-space {
    height: calc(var(--header-height) + var(--padding-space));
}
.header.mobile {
    background: #000000;
}

body.light .header.screen {
    background: #000000;
}

/* body.dark .header.screen {
} */

@media screen and (prefers-color-scheme: dark) {
    body.auto .header.screen {
        background: #00000088;
        -webkit-backdrop-filter: blur(32px);
        backdrop-filter: blur(32px);
    }    
    body.auto .header-container {
        box-shadow: 0 4px 32px rgba(0,0,0,0.6);
    }        
}
@media screen and (prefers-color-scheme: light) {
    body.auto .header.screen {
        background: #000000;
    }    
}



:root {
    --header-height: 48px;
}

.header-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 5%;
    line-height: var(--header-height);
    font-size: 20px;
    background: #00000088;
    -webkit-backdrop-filter: blur(32px);
    backdrop-filter: blur(32px);
}
body.dark .header-container {
    box-shadow: 0 4px 32px rgba(0,0,0,0.6);
}
.header-visible .header-menu {
    width: fit-content;
    overflow-x: scroll;
}

.header-visible {
    width: 100%;
    overflow: hidden;
    transition: 0.5s;
    box-shadow: 0 5px 64PX rgba(00, 00, 00, 255);
}
.header-visible.vis {
    height: calc(100vh - var(--header-height));
}
.header-visible.invis {
    height: 0px;
}
.header-visible .header-menu {
    width: 100%;
}

.header-container .header-menu .header-menu-button {
    display: inline;
    line-height: var(--header-height);
    margin: 0 16px;
    padding: 0!important;
    transition: 0.1s;
}
/* .header-container .header-menu a:hover .header-menu-button {
    margin: 0 32px;
} */
.header-visible .header-visible-button {
    width: 100%;
    line-height: var(--header-height);
    margin: 0 calc(5% + 16px);
    padding: 0!important;
}
.header-visible .header-headline {
    display: flex;
    width: 100%;
    line-height: var(--header-height);
    margin: 0 calc(5% + 16px);
    padding: 0!important;
    font-weight: 500;
    font-size: 24px;
    color: var(--text-headline-color);
}

.header-button-icon {
    display: inline;
    min-width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: var(--header-height);
    margin: 0;
    padding: 0!important;
    transition: 0.1s;
    cursor: pointer;
    color: rgb(201, 201, 201);
    fill: rgb(201, 201, 201);
}
.header-button-icon:hover {
    color: white;
    fill: white;
}
.header-button-icon:active svg {
    transform: translateY(2px);
}

.header-button-icon svg {
    width: auto;
    height: 50%;
}
.header-logo {
    min-width: var(--header-height);
    height: var(--header-height);
    display: flex;
    align-items: center;
}
.header-logo.visible {
    filter: opacity(1);
}
.header-logo.invisible {
    filter: opacity(0);
}

.header-logo img {
    display: inline;
    height: auto;
    background: black;
    border-radius: 100%;
    width: calc(var(--header-height) - 12px);
    margin: 6px;
}
.header-logo svg {
    display: inline;
    height: auto;
    background: black;
    border-radius: 100%;
    width: 36px;
    margin: 6px;
}
.header a {
    color: rgb(201, 201, 201)!important;
} 
.header a:hover {
    color: white!important;
} 