:root {
    --footer-container-height: 48px;
}
.footer {
    width: 100%;
    position: relative;
    background: var(--footer-bg);
    color: var(--text-color);
    user-select: none;
    font-family: 'TT Commons';
    box-sizing: border-box;
    padding: 16px 5% 32px 5%;
}
.footer-wrapper {
    position: relative;
    display: grid;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto!important;
    grid-column-gap: 16px;
    z-index: 3;

}
@media screen and (max-width: 1024px) {
    .footer-logo {
        width: 100%;
        justify-content: center;
    }
    .footer-logo img {
        width: 72px;
    }

    .footer-logo .title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 2px;
        margin: 0 4px 0 0;
    }
    .footer-logo .page-status{
        font-size: 20px;
        font-weight: 500;
        padding: 0 3px;
        margin: 2px 0 0 0;
        border-radius: 2px;
    }

}
@media screen and (min-width: 1024px) {
    .footer-logo img {
        width: 96px;
    }
    .footer-logo .title {
        font-size: 30px;
        font-weight: 500;
        margin: 0 12px 0 0;
    }
    .footer-logo .page-status{
        font-size: 30px;
        padding: 0 4px;
        font-weight: 500;
        border-radius: 2px;
    }

}
@media screen and (max-width: 768px) {
    .footer-logo img {
        width: 72px;
    }

    .footer-logo .title {
        font-size: 20px;
        font-weight: 500;
        padding-top: 2px;
        margin: 0 4px 0 0;
    }
    .footer-logo .page-status{
        font-size: 20px;
        font-weight: 500;
        padding: 0 3px;
        margin: 2px 0 0 0;
        border-radius: 2px;
    }

}
@media screen and (min-width: 768px) {
    .footer-wrapper {
        grid-template-columns: repeat(auto-fill, 192px);
    }
    .footer-logo {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 3;
        /* grid-column-start: 1;
        grid-column-end: 7; */
    }
    .footer-space {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .footer-flex {
        /* justify-content: center; */
        justify-content: left;
    }
}

.footer a {
    color: var(--text-color)!important;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
.footer a:hover {
    text-decoration: underline;
}

.footer-contain {
    width: 100%;
    margin-bottom: 32px;
    cursor: pointer;
}
.footer-logo p {
    margin: 8px 0;
}
.footer-flex {
    display: flex;
    align-items: center;
}
.footer-logo img {
    display: inline-flex;
    height: auto;
}

.footer-column {
    width: fit-content;
    text-align: left;
    margin-bottom: 32px;
}


.footer-header {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 12px 8px;
    color: var(--text-link-color);
    font-size: 18px;
}
.footer-link {
    text-transform: lowercase;
    margin: 4px 8px;
    font-size: 20px;
}

.footer-container {
    width: 100%;
    height: 48px;
    line-height: 48px;
    display: flex;
    justify-content: space-between;

}
.footer-top-logo {
    width: 48px;
    height: 48px;
}

.footer-top-logo img {
    display: inline;
    height: auto;
    background: black;
    border-radius: 100%;

}
.footer-top-logo.mobile img {
    width: calc(var(--footer-container-height) - 12px);
    margin: 6px;
}
.footer-top-logo.screen img {
    width: calc(var(--footer-container-height) - 8px);
    margin: 4px;
}
.footer-container-middle {
    width: calc(100% - 96px);
    font-weight: 400;
    font-size: 22px;

}

.footer-button-icon {
    display: inline;
    
    min-width: calc(var(--footer-container-height) / 2);
    line-height: var(--footer-container-height);
    margin: 0;
    padding: 0!important;
}

.footer-button-icon svg {
    width: auto;
    height: 50%;
    transform: translateY(8px);
}