:root {
    --footer-container-height: 48px;
    --not-selected: rgb(201, 201, 201);
    --selected: rgb(255,255,255);
}
.footer {
    width: 100%;
    position: relative;
    background: #000000;
    color: #ffffff;
    user-select: none;
    box-sizing: border-box;
    padding: 16px 5% 32px 5%;
}
.footer-wrapper {
    position: relative;
    display: grid;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto!important;
    grid-column-gap: 16px;
    z-index: 3;

}
@media screen and (min-width: 768px) {
    .footer-wrapper {
        grid-template-columns: repeat(auto-fill, 192px);
    }
    .footer-space {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    .footer-flex {
        /* justify-content: center; */
        justify-content: left;
    }
}

.footer a {
    color: var(--not-selected)!important;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}
.footer a:hover {
    text-decoration: underline;
    color: var(--selected)!important;
}

.footer-contain {
    width: 100%;
    margin-bottom: 32px;
    cursor: pointer;
}
.footer-flex {
    display: flex;
    align-items: center;
}
.footer-container-tumblet {
    width: fit-content;
    float: right;
}
.footer-column {
    width: fit-content;
    text-align: left;
    margin-bottom: 32px;
}


.footer-header {
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 12px 8px;
    color: var(--text-link-color);
    font-size: 18px;
}
.footer-link {
    margin: 4px 8px;
    font-size: 20px;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-top-logo {
    display: inline;
    min-width: var(--footer-container-height);
    height: var(--footer-container-height);
    line-height: var(--footer-container-height);
    margin: 0;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-logo img {
    width: 40px;
    height: auto;
    background: black;
    border-radius: 100%;

}
.footer-container.fheader {
    height: var(--footer-container-height);
    line-height: var(--footer-container-height);
}
.footer-container.ffooter {
    height: 72px;
    line-height: 72px;
    justify-content: right;
}
@media screen and (orientation: portrait) {
    .footer-container.ffooter {
        justify-content: center;
    }
}

.footer-button-icon {
    min-width: 40px;
    height: var(--footer-container-height);
    line-height: var(--footer-container-height);
    margin: 0;
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s;
    cursor: pointer;
    color: rgb(201, 201, 201)!important;
    fill: rgb(201, 201, 201)!important;
}
.footer-button-icon:hover {
    color: rgb(255, 255, 255)!important;
    fill: rgb(255, 255, 255)!important;
}
.footer-button-icon:active svg {
    transform: translateY(2px);
}



.footer-button-icon svg {
    width: auto;
    height: 24px;
}
.footer-button-icon img {
    width: auto;
    height: 40px;
}
.footer-logo {
    display: flex;
    align-items: center;
    fill: rgb(201, 201, 201)!important;
    color: rgb(201, 201, 201)!important;
}

.footer-logo img {
    display: inline;
    height: auto;
    background: black;
    border-radius: 100%;

}
.footer-logo img {
    width: calc(var(--footer-container-height) - 12px);
    margin: 6px;
}
.footer-logo svg {
    display: inline;
    height: auto;
    background: black;
    border-radius: 100%;
    width: calc(var(--footer-container-height) - 12px);
    margin: 6px;
}
.footer-logo:hover {
    color:rgb(255, 255, 255)!important;
    fill: rgb(255, 255, 255)!important;
}